* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto Condensed', sans-serif;
	color: dimgray;
}

html {
	background-color: white;
}

body {
	width: 210mm;
	height: 297mm;
	margin: 0.5rem auto;
	padding: 0.5rem;
	/*background-color: whitesmoke;*/
}

header {
	display: flex;
	justify-content: space-between;
	border-bottom: 3px solid darkgray;
	padding-bottom: 1rem;
}

header img {
	width: 150px;
	height: 150px;
	border-radius: 50%;
}

#info {
	margin-left: 1rem;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

h1 {
	font-size: 3rem;
	text-align: right;
	text-transform: uppercase;
}

#subtitle {
	font-size: 1.5rem;
	text-align: right;
	text-transform: uppercase;
	font-weight: bold;
	margin: 0;
}

address {
	display: flex;
	justify-content: flex-start;
	font-style: normal;
}

address table:not(:last-child) {
	margin-right: 1rem;
}

address .col-icon {
	text-align: center;
	padding-right: 0.5rem;
}

#abstract {
	text-align: center;
	font-style: italic;
	margin: 0.6rem 2.5rem;
}

.columns {
	display: flex;
}

.column {
	width: 50%;
}

article {
	padding-left: 0.5rem;
	border-left: 3px solid darkgrey;
}

article:not(:last-child) {
	margin-bottom: 1rem;
}

h2 {
	margin-bottom: 0.5rem;
	text-transform: uppercase;
}

#languages {
	list-style-type: none;
	margin-bottom: 1rem;
}

#languages li {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#languages li:not(:last-child) {
	margin-bottom: 0.35rem;
}

ul:not(#languages) {
	margin: 0.5rem 0;
}

ul:not(#languages) li {
	margin-left: 1.5rem;
}

ul:not(#languages) li:not(:last-child) {
	margin-bottom: 0.2rem;
}

.language {
	font-weight: bold;
	margin-left: 1rem;
}

.points {
	display: flex;
	margin-right: 3rem;
}

.points .material-icons {
	font-size: 1.2rem;
}

p {
	margin: 0.1rem 0;
}

.years {
	color: darkgray;
	font-weight: bold;
}

h3 {
	font-size: 1.1rem;
	margin-bottom: 0.35rem;
}

.company {
	font-size: 1.1rem;
}

footer p {
	text-align: center;
	font-size: 0.8rem;
	margin: 0.5rem 0;
}
